{% extends "base.html" %}

{% block content %}

  <div class="heading">
  
    <h1> {{ user }}'s Bunk Feed </h1>

  </div>


<div class="wrapper">

  <ul class="bunk_list">
  {% if bunk_list %}
    {% for bunk in bunk_list %}
    <div class="bunkli"> 
      {% load staticfiles %}
      <div class="from_user">
        <a href="/bunks/{{bunk.from_user.id}}">
        <img class="bunk-photo" src="{% static "img/filler_photo.png" %}"/>
        {{ bunk.from_user }}
        </a>
      </div>
      bunked   
      <div class="to_user">
        <a href="/bunks/{{bunk.to_user.id}}">
        <img class="bunk-photo" src="{% static "img/filler_photo.png" %}"/>
        {{ bunk.to_user }}
        </a>
      </div>
      at {{ bunk.time }} 
    </div>
    {% endfor %}
  </ul>
  </div>
  {% else %}
    <p>No bunks are available.</p>
  {% endif %}
</div>

{% endblock %}